<footer>
  <span><a href="https://github.com/zvakanaka/list-lemur#readme">About</a></span>
  <span>© Copyright 2019 <a href="https://github.com/zvakanaka" target="_blank">List Lemur</a></span>
</footer>
