<header>
  <% if (page === '/paste-link') {%>
    <a href="./watching">Watching</a>
  <% } else { %>
    <a href="./paste-link">Add</a>
  <% } %>
  <a href="./settings"><%= user.displayName %></a>
</header>
